/*
 * SLGrid.css 
 */

.padded 
{
    padding:3px;
}

.table-condensed tbody > tr > td {
    padding: 3px 5px;
}
            
.SLGrid a 
{
    text-decoration:none
}
 
tr.row2 
{
}

tr.row2 > td
{
    /* overflow:visible; padding: 0px 0px;border-top-width:0px !important  */
}

.oddRow 
{
    background-color: #f9f9f9
}

.pagination > li > span {
  padding: 3px 6px;
}

       
.fa-sort 
{
    font-size:14px;
    color: #ddd;
}
            
a.non-sortable {
    cursor: default;
}
            
/*
td > span > a > i.fa {
    display:none;
}

td > span:hover > a > i.fa {
    display:inline;
} 
*/ 
.anchorDisabled {
    cursor: default;
    color: gray;
}


.form-group {
    margin-bottom: 5px;
}


.popover 
{
    max-width: 476px;
}

.form-control 
{
  hhheight: 24px; /* makes problem with  .input-group input */
  padding: 3px 6px;
}

.btn 
{
  pppadding: 3px 6px;
}

 input::-ms-clear {
    display: none;
}


tr i.fa-caret-up { color:rgb(40, 149, 0); }
tr i.fa-caret-down { color:rgb(209, 40, 40); }

tr > td > span > i.fa { display:none; }

tr.positive > td > span > i.fa-caret-up { display:inline-block }
tr.negative > td > span > i.fa-caret-down { display:inline-block }

